{% macro datos(name,placeholder,type='text') %}
<div class="mb-3">
        <label for="{{name}}" class="form-label">{{name}}</label>
        <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
    </div>
{%endmacro%}

{%macro camposNuevos(field) %}
<h2 class="font-bold text-gray-800">{{field.label}}</h2>
<dd>{{field(**kwargs) | safe}}</dd>
{%if field.errors%}
<ul>
    {%for error in field.errors%}
        <li style="color: red;">{{error}}</li>
    {%endfor%}
</ul>
 
{%endif%}
{%endmacro%}


{% macro campo(label, field) %}
<div class="mb-2">
    <label class="form-label text-white">{{ label }}</label>
    {{ field(class="form-control") }}
</div>
{% endmacro %}
